/*-----------------------------Yeseva One----------------------------*/
.title,
.title__hotel,
.subtitle__hotel,
.link__hotel,
.thirdsection__text,
.repair__text,
.title_clients_header,
.repairsection_title,
.repairsection_button,
.circle__number,
.fifthsection__left p,
.client_title h3,
.left_button,
.right_button,
.questions__title,
.address_text,
.mobile_title,
.mobile_address {
	font-family: Yeseva One, 'Times New Roman' , Times, serif;
	font-style: normal;
	font-weight: normal;
}

.subtitle__hotel,
.repairsection_title,
.repairsection_button,
.circle__number {
	font-size: 18px;
	line-height: 25px;
}

.title__hotel,
.fifthsection__left p {
	font-size: 27px;
	line-height: 37px;
}

.thirdsection__text,
.repair__text,
.title_clients_header,
.address_text,
.questions__title {
	font-size: 20px;
	line-height: 28px;
}

.title {
	font-size: 40px;
	line-height: 53px;
}

.link__hotel {
	font-size: 14px;
	line-height: 19px;
}

.client_title h3,
.mobile_address {
	font-size: 18px;
	line-height: 23px;
}

.left_button,
.right_button {
	font-size: 17px;
	line-height: 24px;
}

.mobile_title {
	font-size: 22px;
	line-height: 30px;
}
