@media (max-width: 1300px) {
	.header__menu a:nth-child(n+2):nth-child(-n+7) {
		display: none;
	}

	.header__menu {
		display: flex;
	}

	.header__menu :nth-child(n+2) {
		color: #FFF;
		text-decoration: none;
	}

	.link {
		padding-left: 0px;
	}

	.tel {
		padding-right: 0px;
		padding-left: 0px;
	}

	.button__header {
		display: none;
	}

	.firstsection {
		height: 476px;
	}

	.firstsection__block {
		display: flex;
		align-items: center;
		height: 476px;
	}

	.firstsection__wrap {
		top: 0px;
	}

	.firstsection__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.title {
		margin-top: -30px;
	}

	.subtitle {
		margin-bottom: 50px;
	}

	.button {
		width: 338px;
	}

	.button__wrap {
		margin-top: 26px;
    	margin-left: 0px;
	}

	.button_none {
		display: none;
	}

	.leftsection {
		margin-right: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.title__hotel {
		margin-top: 36px;
		text-align: center;
	}

	.leftsection__subtitle {
		display: none;
	}

	.secondsection_slider {
		margin-top: 0px;
	}

	.slider {
		display: none;
	}

	.text__hotel__mobile {
		display: block;
	}

	.slider__mobile {
		width: 340px;
		height: 242px;
		background-image: url(../img/room.png);
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 20px;
	}

	.mobile_pic {
		width: 340px;
		height: 242px;
		background-image: url(../img/roommobile.png);
		margin-bottom: 52px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.selector_left,
	.selector_right {
		display: block;
		width: 36px;
		height: 36px;
	}

	.selector_right {
		transform: scaleX(-1);
		margin-left: 200px;
	}

	.firstcol {
		margin-right: 30px;
	}

	.secondcol {
		margin-right: 73px;
	}

	.videocontent {
		width: 340px;
		height: 207px;
		background-size: cover;
	}

	.videocontent__button {
		width: 37px;
		height: 37px;
	}

	.videocontent__play {
		margin-left: 15px;
		background-size: 50%;
		margin-top: 15px;
	}

	.secondsection {
		background: #131313;
	}

	.firstcol__wrap {
    	padding-right: 80px;
	}

	.thirdsection {
		background: #131313;
		height: 850px;
	}

	.fourthsection {
		margin-top: 68px;
	}

	.input__forms {
		flex-direction: column;
	}

	.text__camera {
		color: #FFF;
	}

	.input__info {
		background: #131313;
		color: #FFF;
	}

	.request__title {
		color: rgba(220, 203, 203, 0.5);
	}

	.input__data {
		width: 340px;
	}

	.input__data input::placeholder {
		color: #FFF;
	}

	.container {
		margin-left: -60px;
		color: #FFF;
	}

	.text__camera {
		margin-bottom: 60px;
	}

	.input__mobile {
		margin-bottom: 60px;
	}

	.input__mobile input::placeholder {
		color: #FFF;
	}


	.rightsection {
		display: none;
	}

	.repairsections {
		flex-direction: column;
		align-items: center;
		margin-bottom: 250px;
	}

	.repairsection {
		margin-right: 0px;
		margin-bottom: 59px;
		width: 340px;
	}

	.repairsection_text {
		margin-left: 0px;
		width: 290px;
	}


	.background_1,
	.background_2,
	.background_3 {
		width: 330px;
		height: 354px;
		background-size: cover;
	}

	.seventhsection {
		margin-top: 0px;
	}

	.eighth_section {
		background: #131313;
		height: 800px;
	}

	.text__hotel__mobile {
		font-size: 11px;
		line-height: 17px;
	}

	.planwork,
	.sixthsection,
	footer,
	.fifthsection,
	.seventhsection,
	.eighth_section {
		display: none;
	}

	.mobile_block {
		display: block;
	}

	.mobile_wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #131313;
	}

	.mobile_title,
	.mobile_address {
		text-align: center;
		color: #E3B873;
		text-transform: uppercase;
	}

	.mobile_title {
		margin-bottom: 35px;
		margin-top: -220px;
	}

	.questions__title {
		margin-bottom: 52px;
	}

	.mobile_form {
		width: 340px;
	}

	.mobile_data {
		display: flex;
		flex-direction: column;
		width: 340px;
		margin-bottom: 60px;
	}

	.mobile_data input,
	.mobile_data input::placeholder {
		color: #FFF;
	}

	.questions_margin {
		margin-bottom: 20px;
	}

	.mobile_info {
		border: none;
		border-bottom: 1px solid grey;
		color: #363636;
		padding: 9px 0;
		outline: none;
		font-size: 14px;
		background: #131313;
	}

	.mobile_agreement {
		margin-bottom: 67px;
	}

	.container_mobile {
		color: #FFF;
	}

	.button_mobile,
	.button_mobile_camera {
		width: 340px;
	}

	.button_mobile {
		margin-bottom: 46px;
	}

	.button_mobile_camera {
		display: block;
    	width: 340px;
    	margin-top: 60px;x;
	}

	.frame_map {
		display: none;
	}

	.frame_map--mobile {
	width: 340px;
	height: 255px;
	border: 0px;
	filter: grayscale(100%);
	}
	/*---------------------------------fonts------------------------------------*/

	.title {
		font-size: 23px;
		line-height: 31px;
	}

	.subtitle {
		font-size: 14px;
		line-height: 19px;
	}

	
	.text__hotel__mobile {
		font-size: 11px;
		line-height: 17px;
	}

	.subtitle__hotel {
		font-size: 14px;
		line-height: 19px;
	}

	.thirdsection__text {
		font-size: 22px;
		line-height: 30px;
	}

	.text__camera {
		font-size: 11px;
		line-height: 19px;
	}

	.repair__text {
		font-size: 22px;
		line-height: 30px;
	}

	.repairsection_title {
		font-size: 15px;
		line-height: 21px;
	}

	.fifthsection__left p {
		font-size: 22px;
		line-height: 30px;
	}

	.questions__title {
		font-size: 20px;
		line-height: 28px;
	}

	.address_text_mobile {
		font-size: 18px;
		line-height: 25px;
	}

}

@media (max-width: 400px) {
	.link,
	.button,
	.input__info {
		font-size: 9px;
	}

	.link:first-child {
    padding-right: 20px;
	}

	.title,
	.title__hotel,
	.thirdsection__text,
	.repair__text,
	.questions__title,
	.mobile_address {
		font-size: 15px;
	}

	.subtitle,
	.text__hotel {
		font-size: 10px;
	}

	.text__hotel__mobile {
		font-size: 9px;
		text-align: center;
	}

	.subtitle__hotel {
		font-size: 12px;
	}

	.button {
    width: 200px;
	}

	.firstsection {
    height: 380px;
	}

	.firstsection__block {
		height: 376px;
	}

	.slider__mobile {
		width: 240px;
	}

	.selector_left,
	.selector_right {
		width: 16px;
		height: 16px;
	}

	.firstcol__wrap {
    padding-right: 20px;
	}

	.secondcol__wrap {
    padding-right: 8px;
    padding-left: 10px;
	}

	.text__camera {
    font-size: 9px;
    line-height: 10px;
    width: 200px;
	}

	.container,
	.container_mobile {
		margin-left: 0px;
		font-size: 11px;
	}

	.thirdsection {
		margin-top: -380px;
	}

	.videocontent {
		width: 240px;
	}

	.input__data {
		width: 240px;
	}

	.button_mobile,
	.button_mobile_camera {
		width: 200px;
	}

	.button_mobile_camera {
		margin-top: 80px;
	}

	.repairsection {
		width: 240px;
		margin-bottom: 90px;
	}

	.background_1, 
	.background_2, 
	.background_3 {
		width: 230px;
		height: 254px;
	}

	.repairsection_wrap {
		padding-left: 0px;
	}

	.repairsection_text {
		width: 190px;
	}

	.repairsection_list {
		font-size: 12px;
	}

	.repairsection_button {
		width: 150px;
		font-size: 12px;
	}

	.mobile_form {
    width: 228px;
    display: flex;
    flex-direction: column;
    align-items: center;
	}

	.mobile_pic {
		width: 240px;
	}

	.mobile_data {
		width: 240px;
	}
}